body {
  min-height: 500px;
  padding-top: 50px;
  background-color:#eaeaea;
}
.txt-center{
	text-align:center !important;
}
.txt-left{
	text-align:left !important;
}
.txt-right{
	text-align:right !important;
}
.help-block{
	color:red !important;
	display:none ;
}
.lunas{
	background-color: #00a65a !important;
}
.blm-lunas{
	background-color: #dd4b39 !important;
}
.navbar-primary{
	background-color: #3c8dbc;
	border-color: #367fa9;
}
.navbar-primary a{
	color:#fff;
}